.card {
    aspect-ratio: 3 / 4;
}

.cardImg {
    width: 100%;
    height: 60%;
}

.cardImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cardBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardBody h3{
    margin: 30px 0 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cardBodyCart {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    color: black;
}

.activeCart {
    color: black;
}

.noActiveCart {
    color: rgb(178, 175, 175);
}

p.wight {
    font-size: 12px;
    color: gray;
    margin: 0;
}

p.name {
    text-align: left;
    margin: 0;
}