.card {
    aspect-ratio: 3 / 4;
    padding: 10px;
    max-height: 350px;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.cardImg {
    width: 100%;
    height: 60%;
    position: relative;
}

.cardImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cardLike {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.cardLike:hover {
    color: rgba(236, 67, 67, 0.995);
}

.activeLike {
    color: rgba(236, 67, 67, 0.995);
}

.noActiveLike {
    color: rgb(178, 175, 175);
    visibility: hidden;
}

.noActiveLikeDisplay {
    color: rgb(178, 175, 175);
    visibility: visible;
}

.offers {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 10px;
}

.discount, .new {
    color: white;
    border-radius: 5px;
    padding: 0 5px 2px;
    font-size: smaller;
}

.discount {
    background-color: rgba(236, 67, 67, 0.995);
}

.new {
    background-color: rgb(54, 155, 54);
}

.cardBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardBody h3{
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.oldPrice {
    color: rgb(178, 175, 175);
    text-decoration: line-through;
    font-size: smaller;
    font-weight: 500;
}

.cardBodyCart {
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.activeCart {
    color: black;
}

.noActiveCart {
    color: rgb(178, 175, 175);
}

p.wight {
    font-size: 12px;
    color: gray;
    margin: 0;
}

p.name {
    text-align: left;
    margin: 0;
    height: 45px;
    overflow: hidden;
}

.containerStar {
    font-size: small;
    margin: 0 0 5px 0;
    min-height: 17.3px;
}

.isActiveStar {
    color: rgb(249, 215, 78);
}

.isNoActiveStar {
    color: rgb(170, 169, 169);
}