div.filter {
    width: 100%;
    height: auto;
    min-height: 30px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.filter:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}
