div.filter {
    height: auto;
    min-height: 30px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
}

div.filter:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}