header {
    background-color: rgb(249, 215, 78);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    gap: 60px
}

header div.logoContainer {
    display: flex;
    width: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

header .logoImg {
    height: 60px;
}

header .logoText {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    line-height: 23px;
}

header i {
    cursor: pointer;
    font-size: 19px;
}

.containerIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.groupIcons {
    display: flex;
    width: 60px;
    justify-content: space-between;
}

.profile {
    margin-left: 50px;
}