header {
    background-color: rgb(249, 215, 78);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    gap: 60px
}

header i {
    cursor: pointer;
    font-size: 19px;
}

.containerIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.groupIcons {
    display: flex;
    width: 60px;
    justify-content: space-between;
    position: relative;
}

.cartCount, .favoritesCount {
    position: absolute;
    min-width: 15px;
    padding: 0 1px;
    top: -10px;
    border-radius: 40%;
    background-color: white;
    font-size: 11px;
    font-weight: 500;
}

.cartCount {
    right: -7px;
}

.favoritesCount {
    left: 12px;
}

.profile {
    margin-left: 50px;
}

.catalog {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 400px;
    min-width: 90px;
}