.form {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.input {
    background-color: rgb(235, 229, 229);
    display: block;
    width: 200px;
}

.label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-size: smaller
}

.form button {
    width: max-content;
}

.form button:hover {
    background-color: rgb(252, 235, 169);
}

.avatarContainer {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.avatarContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prifile {
    display: flex;
    gap: 50px
}