div.allProducts {
    width: 700px;
    height: 30px;
    margin-top: 25px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div.allProducts:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}

main.contentHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}