.card {
    display: flex;
    gap: 30px;
    height: 150px;
    align-items: flex-start;
}

.card input {
    margin: 0;
    height: auto;
}

.checkbox {
    width: 13px;
}

.cardImg {
    height: 100%;
    width: 200px;
}

.cardImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cardBody {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.containerInfo, .containerCounter, .containerPrice {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerInfo {
    width: 40%;
}

p.name {
    text-align: left;
    margin: 0;
    overflow: hidden;
    max-height: 60%;
}

p.wight {
    font-size: smaller;
    color: gray;
    text-align: left;
    margin: 0;
}

.containerInfo h3 {
    text-align: start;
}

.containerPrice {
    width: 30%;
}

.containerPrice span {
    color: gray;
    text-align: end;
    line-height: 100%;
    font-size: smaller;
    text-decoration: line-through;
}

.containerPrice h3{
    margin: 0;
    text-align: end;
    line-height: 100%;
}

.containerCounter {
    align-items: flex-start;
    width: 30%;
}

.containerCounter h4 {
    text-align: start;
}

p.remove {
    text-align: left;
    margin: 0;
    font-size: smaller;
    color: gray;
    cursor: pointer;
}

p.remove:hover {
    text-decoration: underline;
}

.counter {
    text-align: start;
    border: solid 1px rgb(235, 229, 229);
    border-radius: 10px;
    width: 100px;
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.counter button {
    background-color: transparent;
    font-size: large;
    padding: 0 10px;
}

@media (max-width: 1200px) {
    .counter {
        width: 50px;
    }
}