.containerForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    margin-top: 20px;
}

.containerFields {
    display: flex;
    gap: 20px;
}

.containerField {
    display: flex;
    flex-direction: column;
}

.containerField input, .containerField textarea {
    background-color: rgb(235, 229, 229);
    width: 100%;
}

.containerField textarea {
    height: 50px;
    min-width: 100%;
    max-width: 100%;
}

.containerField p {
    margin: 5px 0 0;
}

.containerCheckbox {
    line-height: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.containerCheckbox input {
    margin: 0;
    height: max-content;
}

