footer {
    background-color: rgb(249, 215, 78);
    height: 150px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 5%;
}

footer ul.list {
    font-size: 15px;
    list-style-type: none;
    text-align: left;
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer ul.list li {
    cursor: pointer;
}

footer div.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

footer div.contacts i {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.681);
    cursor: pointer;
}

footer div.contacts p {
    margin: 15px 0 0 0;
}

div.contacts .messenger {
    display: flex;
    gap: 10px;
}
